
{% extends 'base.html' %}



{% block content %}
                <div class="col-9"  style="margin-left:-45px;">
                    <div class="main">
                            <div class="num" style="background-color:hsl(177, 70%, 41%);">
                                <div class="row">
                                    <div class="col-6">
                                            <h5>{{ total_parked_vehicles }}</h5>
                                            <h6>vehicle parked</h6>
                                    </div>
                                    <div class="col-6">
                                        <div  style=" background-color: ; width: 40px;">
                                                <span><i class="fa-solid fa-square-parking" style="font-size:50px;"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="num" style="background-color: rgb(49, 45, 45);">
                                <div class="row">
                                    <div class="col-6">
                                            <h5>{{ total_deported_vehicles }}</h5>
                                            <h6>Deported Vehicles</h6>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <span><i class="fa-solid fa-car" style="font-size:50px;"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="num" style="background-color:rgb(215, 72, 72);">
                                <div class="row">
                                    <div class="col-6">
                                             <h5>{{ total_available_categories }}</h5>
                                            <h5>Available category</h5>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <i class="fa-solid fa-box" style="font-size:50px;" ></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="num" style="background-color:rgb(205, 205, 2)">
                                <div class="row">
                                    <div class="col-6">
                                            <h5>$ {{ total_earnings }}</h5>
                                            <h6>Total Earnings</h6>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <i class="fa-solid fa-money-check-dollar" style="font-size:50px;"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="num" style="background-color:grey">
                                <div class="row">
                                    <div class="col-6">
                                            <h5>{{ total_records }}</h5>
                                            <h6>Total Records</h6>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <i class="fa-solid fa-layer-group" style="font-size:50px;"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="num" style="background-color:rgb(111, 111, 243)">
                                <div class="row">
                                    <div class="col-6">
                                            <h5>{{ total_parking_slots }}</h5>
                                            <h6>Total Parking slots</h6>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <i class="fa-solid fa-check-double" style="font-size:50px;"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
	                 </div>
                </div>
        {% endblock %}


